* {
  font-family: 'Muli', sans-serif;
}

.topo {
  box-sizing: border-box;
  width: 100%;
  background: rgb(24, 132, 132);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
}

.topo__titulo {
  color: #fff;
  font-size: 60px;
  padding: 0;
  margin: 0;
  font-family: 'Fugaz One', cursive;
  letter-spacing: 5px;
}

@media (max-width: 600px) {
  .topo__titulo {
    font-size: 40px;
  }
}

.topo__texto {
  color: #b5d4b5;
  font-size: 24px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 32px 0;
}

.social {
  display: flex;
  align-items: center;
}

.nova-vaga {
  box-sizing: border-box;
  background-color: #21e0a0;
  color: #00333a;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
  transition: opacity .2s;
  margin-right: 8px;
}

.nova-vaga:hover {
  opacity: .8;
}

.main {
  box-sizing: border-box;
  padding: 32px;
}

.lista-vagas {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  max-width: 1200px;
}

.card-vaga {
  box-sizing: border-box;
  width: 100%;
  --cols: 3;
  max-width: calc(100% / var(--cols) - 20px);
  margin: 0 10px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fbfffc;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .card-vaga {
    --cols: 2;
  }
}

@media (max-width: 600px) {
  .card-vaga {
    --cols: 1;
  }
}

.card-vaga a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.titulo {
  color: #4e7355;
  margin: 0;
  font-size: 18px;
}

.lista-labels {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.label {
  color: var(--color-label, #fff);
  background-color: var(--background-label, #374047);
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 3px;
}

.label:not(:last-child) {
  margin-right: 3px;
}

.data {
  color: #4e7355;
}

.mais {
  box-sizing: border-box;
  padding: 10px 16px;
  color: #ffffff;
  background-color: #3c8585;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  transition: opacity .2s;
  box-shadow: none;
  border: none;
}

.mais:hover {
  cursor: pointer;
  opacity: .8;
}

.rodape {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: rgb(24, 132, 132);
  color: #b5d4b5;
}

.rodape__heart {
  animation: pulse .5s infinite alternate ease-in;
  background-color: #b5d4b5;
  display: inline-block;
  height: 10px;
  margin: 0 15px;
  position: relative;
  width: 10px;
}

.rodape__heart:before {
  background-color: #b5d4b5;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 10px;
}

.rodape__heart:after {
  background-color: #b5d4b5;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}

@keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
